<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.dao.HospitalDAO">
	<resultMap type="kr.kh.team3.model.vo.ReportVO" id="ReportMap">
		<result property="rp_num" column="rp_num"/>
		<result property="rp_target" column="rp_target"/>
		<result property="rp_name" column="rp_name"/>
		<result property="rp_rs_name" column="rp_rs_name"/>
		<result property="rp_site_num" column="rp_site_num"/>
	</resultMap>
	<resultMap type="kr.kh.team3.model.vo.HospitalVO" id="HospitalMap">
		<result property="ho_id" column="ho_id"/>
		<result property="ho_ms_state" column="ho_ms_state"/>
		<result property="ho_hs_num" column="ho_hs_num"/>
		<result property="ho_pw" column="ho_pw"/>
		<result property="ho_name" column="ho_name"/>
		<result property="ho_ceo" column="ho_ceo"/>
		<result property="ho_num" column="ho_num"/>
		<result property="ho_address" column="ho_address"/>
		<result property="ho_phone" column="ho_phone"/>
		<result property="ho_authority" column="ho_authority"/>
		<result property="ho_cookie" column="ho_cookie"/>
		<result property="ho_cookie_limit" column="ho_cookie_limit"/>
		<result property="ho_email" column="ho_email"/>
		<result property="ho_stop" column="ho_stop"/>
		<result property="ho_report_count" column="ho_report_count"/>
		<collection property="report" resultMap="ReportMap"/>
	</resultMap>
	

	<insert id="insertHospital">
		insert into hospital(ho_id, ho_pw, ho_email, ho_name, ho_ceo, ho_hs_num, ho_num, ho_address, ho_phone, ho_authority, ho_ms_state) 
		values(#{ho.ho_id}, #{ho.ho_pw}, #{ho.ho_email}, #{ho.ho_name}, #{ho.ho_ceo}, 
				#{ho.ho_hs_num}, #{ho.ho_num}, #{address}, #{ho.ho_phone},"MANAGER","이용중")
	</insert>
	
	<insert id="insertSiteHospital">
		insert into site_management(site_la_num, site_id, site_authority)
		value(1, #{st.site_id}, "USER")
	</insert>
	
	<select id="selectHospitalId" resultType="HospitalVO">
		select * from hospital where ho_id = #{ho_id}
	</select>
	
	<!-- 정경호 : 과목 ㄱㄴㄷㄹ순으로 정렬을 위해 order by hs_title 추가 -->
	<select id="selectHospitalSubjectList" resultType="HospitalSubjectVO">
		select * from hospital_subject order by hs_title
	</select>
	
	<!-- 로그인 -->
	<select id="selectHospital" resultType="kr.kh.team3.model.vo.HospitalVO">
		SELECT * FROM hospital
		WHERE ho_id = #{ho_id}
	</select>
	
	<select id="selectSite" resultType="kr.kh.team3.model.vo.SiteManagement">
		SELECT * FROM site_management
		WHERE site_id = #{ho_id}
	</select>
	
	<select id="selectSiDoList" resultType="SiDoVO">
		select * from si_do
	</select>
	
	<select id="selectSggList" resultType="SiGoonGuVO">
		select * from si_goon_gu
	</select>
	
	<select id="selectEmdList" resultType="EupMyeonDongVO">
		select * from eup_myeon_dong
	</select>
	
	<update id="updateLoginFail">
		UPDATE hospital
		SET ho_fail = ho_fail + 1
		WHERE ho_id = #{ho_id}
	</update>
	
	<update id="updateLoginFailZero">
		UPDATE hospital
		SET ho_fail = 0
		WHERE ho_id = #{ho_id}
	</update>
	
	<select id="selectHospitalEmail" resultType="HospitalVO">
		select * from hospital where ho_email = #{ho_email}
	</select>
	
	<select id="selectHospitalPhone" resultType="HospitalVO">
		select * from hospital where ho_phone = #{ho_phone}
	</select>
	
	<!-- 정경호 이용중인 병원만 조회하는 쿼리 -->
	<select id="hospitalList" resultType="HospitalVO">
		select * from hospital where ho_ms_state = "이용중"
		order by ho_id
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
		
	<select id="selectHospitalCount" resultType="int">
		select count(*) from hospital where ho_ms_state = "이용중"
	</select>
	<!-- 정경호 끝 -->
	
	<!-- 관리자 병원 관리 -->
	<select id="selectWaitHospitalList" resultType="kr.kh.team3.model.vo.HospitalVO">
		select * from hospital
		where ho_ms_state = "가입대기"
		order by ho_id
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectWHTotalCount" resultType="int">
		select count(*) from hospital where ho_ms_state = "가입대기"
	</select>
	
	<update id="updateWaitOk">
		update hospital
		set ho_ms_state = "이용중"
		where ho_id = #{ho_id}
	</update>
	
	<delete id="updateWaitNo">
		delete from hospital
		where ho_id = #{ho_id}
	</delete>


	
	<select id="selectReportHospitalList" resultMap="HospitalMap">
		select * from hospital
		right join report on ho_id = rp_target
		where ho_ms_state = "이용중"
        and ho_report_count > 0
		order by ho_id
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectRHTotalCount" resultType="int">
		select count(*) from hospital
		right join report on ho_id = rp_target
		where ho_ms_state = "이용중"
        and ho_report_count > 0
	</select>
	
	<delete id="deleteHospital">
		delete from hospital
		where ho_id = #{ho_id}
	</delete>
</mapper>
