<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.dao.HospitalDAO">

	<resultMap type="BookmarkVO" id="bookmarkMap">
		<id column="bmk_num" property="bmk_num"/>
		<result column="bmk_me_id" property="bmk_me_id"/>
		<result column="bmk_ho_id" property="bmk_ho_id"/>
		<collection property="hospital"
			ofType="HospitalVO" column="bmk_ho_id"
			select="selectBmkHospital"/>
	</resultMap>

	<resultMap type="HsListVO" id="HsListMap">
		<id column="hsl_num" property="hsl_num"/>
		<result column="hsl_hs_num" property="hsl_hs_num"/>
		<result column="hsl_ho_id" property="hsl_ho_id"/>
		<collection property="hospital" ofType="HospitalVO" column="hsl_ho_id" select="selectHospitalSub"/>
		<collection property="hospital_subject" ofType="HospitalSubjectVO" column="hsl_hs_num" select="selectHoSubMap"/>
		<collection property="hospital_detail" ofType="HospitalDetailVO" column="hsl_ho_id" select="selectHoDeMap"/>
	</resultMap>
	<select id="selectHoDeMap" resultType="HospitalDetailVO">
		select * from hospital_detail where hd_ho_id = #{hsl_ho_id}
	</select>
	<select id="selectHospitalSub" resultType="HospitalVO">
		select * from hospital where ho_id = #{hsl_ho_id}
	</select>
	<select id="selectHoSubMap" resultType="HospitalSubjectVO">
		select * from hospital_subject where hs_num = #{hsl_hs_num}
	</select>
	<select id="getSubHoList" resultMap="HsListMap">
		select * from hs_list where hsl_hs_num = #{me.me_hs_num} 
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="getTotalSubHoList" resultType="int">
		select count(*) from hs_list where hsl_hs_num = #{me.me_hs_num} 
	</select>
	
	<resultMap type="HospitalVO" id="hospitalMap">
		<id column="ho_id" property="ho_id"/>
		<result column="ho_ms_state" property="ho_ms_state"/>
		<result column="ho_hs_num" property="ho_hs_num"/>
		<result column="ho_pw" property="ho_pw"/>
		<result column="ho_name" property="ho_name"/>
		<result column="ho_ceo" property="ho_ceo"/>
		<result column="ho_num" property="ho_num"/>
		<result column="ho_address" property="ho_address"/>
		<result column="ho_phone" property="ho_phone"/>
		<result column="ho_authority" property="ho_authority"/>
		<result column="ho_cookie" property="ho_cookie"/>
		<result column="ho_cookie_limit" property="ho_cookie_limit"/>
		<result column="ho_fail" property="ho_fail"/>
		<result column="ho_email" property="ho_email"/>
		<result column="ho_report_count" property="ho_report_count"/>
		<result column="ho_stop" property="ho_stop"/>
		<result column="ho_stop_count" property="ho_stop_count"/>
		<result column="ho_la_num" property="ho_la_num"/>
		<collection property="hospital_detail"
			ofType="HospitalDetailVO" column="ho_id"
			select="selectHospitalDetail"/>
		<collection property="hospital_subject"
			ofType="HospitalSubjectVO" column="ho_hs_num"
			select="selectHospitalSubject"/>
	</resultMap>
	
	<select id="selectHospitalDetail" resultType="HospitalDetailVO">
		select * from hospital_detail where hd_ho_id = #{ho_id}
	</select>
	
	<select id="selectHospitalSubject" resultType="HospitalSubjectVO">
		select * from hospital_subject where hs_num = #{ho_hs_num}
	</select>
	
	<select id="selectBmkHospital" resultType="HospitalVO">
		select * from hospital where ho_id = #{bmk_ho_id}
	</select>
	
	<select id="getHospitalList" resultMap="hospitalMap">
	 	select * from hospital where ho_la_num =#{la.la_num}
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="getHospitalListCount" resultType="int">
	 	select count(*) from hospital where ho_la_num =#{la.la_num}
	</select>
	
	<select id="selectBmkList" resultMap="bookmarkMap">
		select * from bookmark where bmk_me_id = #{user.site_id}
		limit #{cri.pageStart}, #{cri.perPageNum};
	</select>
	
	<select id="selectBmkListCount" resultType="int">
		select count(*) from bookmark where bmk_me_id = #{user.site_id}
	</select>
	
	
	<select id="getArrHospital" resultType="HospitalVO">
	 	select * from hospital where ho_la_num = #{us.site_la_num}
	</select>
	
	
	
	<select id="getHospital" resultType="HospitalVO">
	 	select * from hospital where ho_id = #{ho_id} and ho_la_num = #{la_num}
	</select>
	
	<select id="getLand" resultType="kr.kh.team3.model.vo.LandVO">
		select * from land where la_emd_num = #{num}
	</select>

	<insert id="insertHospital">
		insert into hospital(ho_id, ho_pw, ho_email, ho_name, ho_ceo, ho_hs_num, ho_num,
						 ho_address, ho_phone, ho_authority, ho_ms_state, ho_la_num) 
		values(#{ho.ho_id}, #{ho.ho_pw}, #{ho.ho_email}, #{ho.ho_name}, #{ho.ho_ceo}, 
				#{ho.ho_hs_num}, #{ho.ho_num}, #{ho.ho_address}, #{ho.ho_phone},"MANAGER","가입대기", #{la.la_num})
	</insert>
	
	<insert id="insertSiteHospital">
		insert into
		site_management(site_la_num,site_id,site_email,site_phone,site_authority)
		value(#{la.la_num},#{si.site_id},#{si.site_email},#{si.site_phone},"MANAGER")
	</insert>
	
	<insert id="insertLand">
		insert into land(la_sd_num,la_sgg_num,la_emd_num)
		values(#{la.la_sd_num},#{la.la_sgg_num},#{la.la_emd_num})
	</insert>
	
	<select id="selectHospitalId" resultType="HospitalVO">
		select * from hospital where ho_id = #{ho_id}
	</select>
	
	<select id="selectLand" resultType="kr.kh.team3.model.vo.LandVO">
		select 
			* 
		from 
			land where la_sd_num = #{la.la_sd_num}
		and 
			la_sgg_num = #{la.la_sgg_num}
		and
			la_emd_num = #{la.la_emd_num}
	</select>
	
	<!-- 정경호 : 과목 ㄱㄴㄷㄹ순으로 정렬을 위해 order by hs_title 추가 -->
	<select id="selectHospitalSubjectList" resultType="HospitalSubjectVO">
		select * from hospital_subject order by hs_title
	</select>
	
	<!-- 로그인 -->
	<select id="selectHospital" resultType="kr.kh.team3.model.vo.HospitalVO">
		SELECT * FROM hospital
		WHERE ho_id = #{ho_id}
	</select>
	
	<select id="selectSite" resultType="kr.kh.team3.model.vo.SiteManagement">
		SELECT * FROM site_management
		WHERE site_id = #{ho_id}
	</select>
	
	<select id="selectSiDoList" resultType="SiDoVO">
		select * from si_do
	</select>
	
	<select id="selectSggList" resultType="SiGoonGuVO">
		select * from si_goon_gu
	</select>
	
	<select id="selectEmdList" resultType="EupMyeonDongVO">
		select * from eup_myeon_dong
	</select>
	
	<update id="updateLoginFail">
		UPDATE hospital
		SET ho_fail = ho_fail + 1
		WHERE ho_id = #{ho_id}
	</update>
	
	<update id="updateLoginFailZero">
		UPDATE hospital
		SET ho_fail = 0
		WHERE ho_id = #{ho_id}
	</update>
	
	<!-- 사이트 매니지먼트 아이디, 이메일, 폰 중복 체크 -->
	<select id="selectSiteId" resultType="kr.kh.team3.model.vo.SiteManagement">
		select * from site_management where site_id = #{site_id}
	</select>
	
	<select id="selectHospitalEmail" resultType="kr.kh.team3.model.vo.SiteManagement">
		select * from site_management where site_email = #{site_email}
	</select>
	
	<select id="selectHospitalPhone" resultType="kr.kh.team3.model.vo.SiteManagement">
		select * from site_management where site_phone = #{site_phone}
	</select>
	
	<!-- 정경호 이용중인 병원만 조회하는 쿼리 -->
	<select id="hospitalList" resultType="HospitalVO">
		select * from hospital where ho_ms_state = "이용중"
		order by ho_id
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
		
	<select id="selectHospitalCount" resultType="int">
		select count(*) from hospital where ho_ms_state = "이용중"
	</select>
	<!-- 정경호 끝 -->
	
	<!-- 관리자 병원 관리 -->
	<select id="selectWaitHospitalList" resultType="kr.kh.team3.model.vo.HospitalVO">
		select * from hospital
		where ho_ms_state = "가입대기"
		order by ho_id
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectWHTotalCount" resultType="int">
		select count(*) from hospital where ho_ms_state = "가입대기"
	</select>
	
	<update id="updateWaitOk">
		update hospital
		set ho_ms_state = "이용중"
		where ho_id = #{ho_id}
	</update>
	
	<delete id="updateWaitNo">
		delete from hospital
		where ho_id = #{ho_id}
	</delete>
	
	<delete id="deleteHospital">
		delete from hospital
		where ho_id = #{ho_id}
	</delete>
	
	<delete id="deleteSite">
		delete from site_management
		where site_id = #{ho_id}
	</delete>
	
	<resultMap type="kr.kh.team3.model.vo.ReportVO" id="ReportMap">
		<result property="rp_num" column="rp_num"/>
		<result property="rp_target" column="rp_target"/>
		<result property="rp_name" column="rp_name"/>
		<result property="rp_rs_name" column="rp_rs_name"/>
		<result property="rp_site_num" column="rp_site_num"/>
		<collection property="hospital" ofType="kr.kh.team3.model.vo.HospitalVO"
			column="rp_target" select="selectHospitalReport"/>
	</resultMap>
	
	<select id="selectHospitalReport" resultType="kr.kh.team3.model.vo.HospitalVO">
		select * from hospital where ho_id = #{rp_target}
	</select>
	
	<select id="selectReportHospitalList" resultMap="ReportMap">
		select * from report
		order by rp_target
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectRHTotalCount" resultType="int">
		select count(*) from report
		order by rp_target
	</select>
	
	<update id="updateHospitalStop">
		update hospital set
		ho_stop = DATE_ADD(NOW(), INTERVAL #{rp_rs_name} DAY),
		ho_ms_state = "기간정지"
		where ho_id = #{ho_id}
	</update>
	
	<update id="updateHospitalStopPlus">
		update hospital set
		ho_stop = DATE_ADD(ho_stop, INTERVAL #{rp_rs_name} DAY),
		ho_ms_state = "기간정지"
		where ho_id = #{ho_id}
	</update>
	
	<update id="updateHoStopCancel">
		update hospital set
		ho_stop = null,
		ho_ms_state = "이용중"
		where ho_id = #{ho_id}
	</update>
	
	<!-- 병원 페이지 : 선진, 민석 -->
	<insert id="insertOrUpdateHospitalDetail" parameterType="HospitalDetailVO">
		insert into hospital_detail(hd_ho_id, hd_info, hd_time, hd_park, hd_announce, hd_etc, hd_subject_detail)
		values (#{hd.hd_ho_id}, #{hd.hd_info}, #{hd.hd_time}, #{hd.hd_park}, #{hd.hd_announce}, #{hd.hd_etc}, #{hd.hd_subject_detail})
		on duplicate key update 
		hd_ho_id = values(hd_ho_id), 
		hd_info = values(hd_info), 
		hd_time = values(hd_time), 
		hd_park = values(hd_park), 
		hd_announce = values(hd_announce), 
		hd_etc = values(hd_etc), 
		hd_subject_detail = values(hd_subject_detail)
	</insert>
	
	<!-- <insert id="insertSubjects" parameterType="HsListVO">
		insert into hs_list(hsl_num, hsl_hs_num, hsl_ho_id)
		values(#{hsList.hsl_num}, #{hsList.hsl_hs_num}, #{hsList.hsl_ho_id})
		on duplicate key update
		hsl_num = values(hsl_num), 
		hsl_hs_num = values(hsl_hs_num), 
		hsl_ho_id = values(hsl_ho_id)
	</insert> -->
	
	<insert id="insertSubjects">
		insert into hs_list(hsl_ho_id, hsl_hs_num)
		values(#{ho_id}, #{hs_num})
	</insert>
	
	<!-- 새로만든 상세 페이지 -->
	<resultMap type="HospitalDetailVO" id="hdMap">
		<result property="hd_num" column="hd_num"/>
		<result property="hd_ho_id" column="hd_ho_id"/>
		<result property="hd_info" column="hd_info"/>
		<result property="hd_time" column="hd_time"/>
		<result property="hd_park" column="hd_park"/>
		<result property="hd_announce" column="hd_announce"/>
		<result property="hd_etc" column="hd_etc"/>
		<result property="hd_subject_detail" column="hd_subject_detail"/>
		<collection property="hsList" ofType="HsListVO" 
		column="hsl_ho_id" select="selectHsList"/>
	</resultMap>
	
	<select id="selectHsList" resultType="HsListVO">
		select hsl_hs_num from hs_list where hsl_ho_id = #{hd_ho_id}
	</select>
	
	<select id="selectDetail" resultMap="hdMap">
		select * from hospital_detail where hd_num = #{hd_num}
	</select> 
	
	
	
	<delete id="deleteHospitalDetail" parameterType="String">
		delete from hospital_detail where hd_ho_id = #{hd_ho_id}
	</delete>
	
	<select id="selectHospitalInfo" resultType="HospitalVO">
		select * from hospital
	</select>
	
	<select id="selectSelectedSubject" resultType="HospitalSubjectVO">
		select * from hospital_subject where hs_num = #{detail.hd_hs_num}
	</select>
	
	<select id="selectHoDetail" resultType="HospitalDetailVO">
		select * from hospital_detail where hd_ho_id = #{hospital.ho_id}
		order by hd_num desc limit 1
	</select>
	
	<select id="selectReviewList" resultType="ReviewVO">
		select * from review where vw_hd_num = #{detail.hd_num}
		order by vw_num desc 
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectCriReviewList" resultType="ReviewVO">
		select * from review where vw_hd_num = #{cri.search}
		order by vw_num desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectTotalReviewCount" resultType="int">
		select count(*) from review where vw_hd_num = #{cri.search}
	</select>
	
	<!-- <resultMap type="HospitalDetailVO" id="DetailMap">
		<result property="hd_num" column="hd_num"/>
		<result property="hd_ho_id" column="hd_ho_id"/>
		  <result property="hd_hs_num" column="hd_hs_num"/>
		<result property="hd_info" column="hd_info"/>
		<result property="hd_time" column="hd_time"/>
		<result property="hd_park" column="hd_park"/>
		<result property="hd_announce" column="hd_announce"/>
		<result property="hd_etc" column="hd_etc"/>
		<result property="hd_subject_detail" column="hd_subject_detail"/>
		<collection property="hospital" ofType="HospitalVO" 
		column="hd_ho_id" select="selectHospitalDetailInfo"/>
	</resultMap>
	
	<select id="selectHospitalDetailInfo" resultType="HospitalVO">
		select * from hospital where ho_id = #{hd_ho_id}
	</select>
	
	<select id="selectDetail" resultMap="DetailMap">
		select * from hospital_detail where hd_num = #{hd_num}
	</select> -->
	
	<insert id="insertReview">
		insert into review(vw_hd_num, vw_me_id, vw_content)
		values(#{vw.vw_hd_num}, #{vw.vw_me_id}, #{vw.vw_content})
	</insert>
	
	<select id="selectReview" resultType="ReviewVO">
		select * from review where vw_num = #{vw_num}
	</select>
	
	<delete id="deleteReview">
		delete from review where vw_num = #{vw_num}
	</delete>
	
	<update id="updateReview">
		update review
		set vw_content = #{vw.vw_content} where vw_num = #{vw.vw_num}
	</update>
	
	<select id="selectHsNum" resultType="HospitalVO">
		select ho_hs_num from hospital where ho_hs_num = #{hospital.ho_hs_num}
	</select>
	
	<select id="selectSubjects" resultType="HsListVO">
		select * from hs_list where hsl_ho_id = #{hospital.ho_id}
	</select>
	
	<delete id="deleteSubjects" parameterType="String">
		delete from hs_list hsl_ho_id = #{hsl_ho_id}
	</delete>
</mapper>
