<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.dao.MemberDAO">

	<insert id="insertMember">
		insert into member(me_id,me_pw,me_name,me_gender,me_job,me_frontNum,me_backNum,me_phone,me_email,me_address,me_authority,me_ms_state)
		values(#{me.me_id},#{me.me_pw},#{me.me_name},#{me.me_gender},#{me.me_job},#{me.me_frontNum},#{me.me_backNum},#{me.me_phone},#{me.me_email},#{me.me_address},"USER","이용중")
	</insert>
	<insert id="insertSiteMember">
		insert into site_management(site_la_num,site_id,site_authority)
		value(1,#{si.site_id},"USER")
	</insert>
	
	<select id="selectSiDo" resultType="kr.kh.team3.model.vo.SiDoVO">
			select * from si_do
	</select>
	
	<select id="selectSgg" resultType="kr.kh.team3.model.vo.SiGoonGuVO">
			select * from si_goon_gu 
	</select>
	
	<select id="selectEmd" resultType="kr.kh.team3.model.vo.EupMyeonDongVO">
			select * from eup_myeon_dong
	</select>


	<!-- 로그인 -->
	<select id="selectMember" resultType="kr.kh.team3.model.vo.MemberVO">
		SELECT * FROM member
		WHERE me_id = #{me_id}
	</select>
	<select id="selectSite" resultType="kr.kh.team3.model.vo.SiteManagement">
		SELECT * FROM site_management
		WHERE site_id = #{me_id}
	</select>
</mapper>
