<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.dao.MemberDAO">
	
	<!-- 회원가입 -->
	<insert id="insertMember">
		insert into member(me_hs_num,me_id,me_pw,me_name,me_gender,me_job,me_phone,me_email,me_address,me_authority,me_ms_state)
		values(#{me.me_hs_num},#{me.me_id},#{me.me_pw},#{me.me_name},#{me.me_gender},#{me.me_job},#{me.me_phone},#{me.me_email},#{adress},"USER","이용중")
	</insert>
	
	<!--site_la_num을 1로 고정시켜놓으면 회원가입 됨.  -->
	<insert id="insertSiteMember">
		insert into site_management(site_la_num,site_id,site_authority)
		value(1,#{si.site_id},"USER")
	</insert>
	
	<select id="selectSiDo" resultType="kr.kh.team3.model.vo.SiDoVO">
			select * from si_do
	</select>
	
	<select id="selectSgg" resultType="kr.kh.team3.model.vo.SiGoonGuVO">
			select * from si_goon_gu where sgg_sd_num = #{sd_num}
	</select>
	
	<select id="selectEmd" resultType="kr.kh.team3.model.vo.EupMyeonDongVO">
			select * from eup_myeon_dong where emd_sgg_num = #{sgg_num}
	</select>


	<!-- 로그인 -->
	<select id="selectMember" resultType="kr.kh.team3.model.vo.MemberVO">
		SELECT * FROM member
		WHERE me_id = #{me_id}
	</select>
	<select id="selectSite" resultType="kr.kh.team3.model.vo.SiteManagement">
		SELECT * FROM site_management
		WHERE site_id = #{me_id}
	</select>
	<update id="updateLoginFail">
		UPDATE member
		SET me_fail = me_fail + 1
		WHERE me_id = #{me_id}
	</update>
	<update id="updateLoginFailZero">
		UPDATE member
		SET me_fail = 0
		WHERE me_id = #{me_id}
	</update>
	
	<select id="selectMemberEmail" 
		resultType="kr.kh.team3.model.vo.MemberVO">
		select * from member where me_email = #{me_email}
	</select>
	
	<select id="selectMemberPhone" 
		resultType="kr.kh.team3.model.vo.MemberVO">
		select * from member where me_phone = #{me_phone}
	</select>
	
	<!-- 관리자 - 회원 관리 -->
	<select id="selectMemberList" resultType="MemberVO">
		select * from member 
		where me_authority = "USER"
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectMemberTotalCount" resultType="int">
		select count(*) from member where me_authority = "USER"
	</select>
	
	<delete id="deleteMember">
		delete from member where me_id = #{me.me_id}
	</delete>
</mapper>
