<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.dao.ProgramDAO">

	<resultMap type="kr.kh.team3.model.vo.ItemListVO" id="ItemListMap">
		<id property="il_num" column="il_num"/>
		<result property="il_hp_num" column="il_hp_num"/>
		<result property="il_it_num" column="il_it_num"/>
		<collection property="hospital_program" ofType="kr.kh.team3.model.vo.HospitalProgramVO"
				column="il_hp_num" select="selectProgramListByProgramName"/>
	</resultMap>

	<select id="selectItemList" resultType="kr.kh.team3.model.vo.ItemVO">
		select * from item where it_ho_id = #{user.site_id} ;
	</select>
	
	<select id="selectProgramList" resultType="kr.kh.team3.model.vo.HospitalProgramVO">
		select * from hospital_program where hp_ho_id = #{user.site_id}
	</select>
	
	<select id="selectItemListList" resultType="kr.kh.team3.model.vo.ItemListVO">
		select * from item_list where il_hp_num = #{hp_num}
	</select>
	
	<select id="selectProgramListByProgramName" resultType="kr.kh.team3.model.vo.HospitalProgramVO">
		select * from hospital_program where 
	</select>
	
	<select id="selectItemListByItem" resultType="kr.kh.team3.model.vo.ItemVO">
		select * from item where it_num = #{il_num}
	</select>
	
	<insert id="insertItem">
		insert into item (it_name, it_explanation, it_ho_id) value(#{item.it_name}, #{item.it_explanation}, #{user.site_id});
	</insert>
	
	<insert id="insertProgram">
		insert into hospital_program (hp_title, hp_payment, hp_ho_id) value(#{pr.hp_title},#{pr.hp_payment}, #{user.site_id})
	</insert>
	
	<insert id="insertItemList">
		insert into item_list(il_hp_num, il_it_num) value(#{pr.hp_num}, #{il_it_num});
	</insert>
	
	<update id="updateItem">
		update item set it_name = #{item.it_name}, it_explanation = #{item.it_explanation} where it_num = #{it_num}
	</update>
	
	<update id="updateProgram">
		update hospital_program set hp_title = #{pr.hp_title}, 
		hp_payment = #{pr.hp_payment} where hp_num = #{pr.hp_num}
	</update>
	
	<delete id="deleteItem">
		delete from item where it_num = #{it_num}
	</delete>
	
	<delete id="deleteProgram">
		delete from hospital_program where hp_num=#{hp_num}
	</delete>
</mapper>
