<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.dao.ProgramDAO">

	<select id="selectItemList" resultType="kr.kh.team3.model.vo.ItemVO">
		select * from item;
	</select>
	
	<select id="selectProgramList" resultType="kr.kh.team3.model.vo.HospitalProgramVO">
		select * from hospital_program where hp_ho_id = #{user.site_id}
	</select>
	
	<insert id="insertItem">
		insert into item (it_name, it_explanation, it_ho_id) value(#{item.it_name}, #{item.it_explanation}, #{user.site_id});
	</insert>
	
	<insert id="insertProgram">
		insert into hospital_program (hp_title, hp_payment, hp_ho_id) value(#{pr.hp_title},#{pr.hp_payment}, #{user.site_id})
	</insert>
	
	<update id="updateItem">
		update item set it_name = #{item.it_name}, it_explanation = #{item.it_explanation} where it_num = #{it_num}
	</update>
	
	<delete id="deleteItem">
		delete from item where it_num = #{it_num}
	</delete>
</mapper>
